#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-bottom: 1px solid white;

}
* {
	font-family: Arial, Helvetica, sans-serif;
}

#navbar > ul {
	list-style-type: none;
}
#navbar > ul > li{
  float: right;
}
div.login-container {
  height: 51.8px;
	float:left;
}
a#sign-out {
  text-decoration:none;
  font-size: 17px;
  position: relative;
  top: 13px;
  left: 15px;
	color:white;

}
a#sign-out:hover {
text-decoration:none;
color:	#FFD700;
-webkit-filter: sepia(70%); /* Safari 6.0 - 9.0 */
filter: sepia(70%);
}
#navbar > ul > li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav.navbar {
	margin-bottom: 0px;
}
.topnav #myLinks a:first-child{

}
@media screen and (max-width: 900px) {
 #navbar > ul > li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
}
}
/* Change the link color to #111 (black) on hover */
#navbar > ul > li a:hover {

}
div#navbar {
	font-size: 16px;
	font-weight: 400px;
}
input.login {
	margin-left: 10px;
	padding-left: 5px;
	margin-top: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 15px;
}
#navbar > ul > li:hover {
  -webkit-filter: sepia(100%); /* Safari 6.0 - 9.0 */
  filter: sepia(100%);
}

#navbar > ul > li a:active {
  box-shadow: 0 3px #FFF;
  transform: translateY(1px);
}
#navbar > ul > li a:hover, ul#navbar > li a:active {
box-shadow:0 0 2px #FFF;
}
.effect a {
	position:relative;
	outline:none;
}
.effect a::before,
.effect a::after {
	position: absolute;
	width: 100%;
	background: #fff;
	content: '';
	height:100%;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;
}
.effect a::before {
	height: 1px;
	top: 0;
	left: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	opacity: 0;
}
.effect a::after {
	height: 1px;
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
	opacity: 0;
}
.effect a:hover::before,
.effect a:hover::after,
.effect a:focus::before,
.effect a:focus::after {
	opacity: 1;
}

.effect a:hover::before,
.effect a:focus::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}

.effect a:hover::after,
.effect a:focus::after {
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}

a.icon {
  display: block;
  position: absolute;
  right: 0px;
  top: 0x;
  color:white;

}
.topnav {

  background-color: #333;
  position: relative;
}
div#myLinks {
  display: none;
}
a#droplink {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  margin: auto;
  display: table;
}
.topnav a.icon {
  display: block;
  position: absolute;
  right:10px;
  top: 7px;
}
.topnav a.icon:hover {
  color:	#FFD700;
  -webkit-filter: sepia(70%); /* Safari 6.0 - 9.0 */
  filter: sepia(70%);
}
.clearfix {
overflow:hidden;
}
.clearfix::after {
content: "";
  clear: both;
  display: table;
  }
